:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* constant */
*{
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.main .main-title{

}
.main .main-title h2{
    font-weight: bold;
    position: relative;
    
}
.main .main-title h2::before{
position: absolute;
content: "";
background-color: white;
height: 3px;
width: 130px;
bottom: -10px;
}
.main .main-title h2::after{
position: absolute;
content: "";
background-color: black;
height: 3px;
width: 50px;
bottom: -10px;
left: 0;
}
/* constant */
.sidebar{
    width: 220px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar h3{
margin-bottom: 40px;
font-size: 20px;
font-weight: bold;
text-align: center;
padding-top: 15px;
position: relative;
}
.sidebar h3::before{
position: absolute;
content: "";
background-color: black;
width: 80px;
height: 2px;
bottom: -20px;
}
.sidebar h3::after{
    position: absolute;
    content: "";
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    bottom: -26px;
    left: 103px;
}
@media (max-width:767px) {
    .sidebar{
        width: 60px;
    }
    .sidebar h3{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .sidebar h3::before,
    .sidebar h3::after{
        display: none;
    }
}
.sidebar{

}
.sidebar ul{
    padding: 10px;
    margin: 10px;
}
.sidebar li{
    margin-bottom: 20px;
    border-radius: 4px;
}
.sidebar li :hover{
    background-color: #f6f6f6;
    border-radius: 6px;
}
.sidebar a{
    display: flex;
    align-items: center;
}
.sidebar span{

}
.sidebar i{
margin: 10px;
}
@media (max-width:767px){
    .sidebar ul{
        padding: 0;
        text-align: center;
    }
    .sidebar span{
        display: none;
    }
}
.main{
    flex: 1;
    background-color: #f1f5f9;
}
.main header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}
.main input{
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
    padding: 5px 0 5px 30px;
}
.main .info i{
    position: relative;
}
.main .info i::after{
    position: absolute;
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 0;
    bottom: 6px;
    right: -5px;
}
.main .info img{
    width:35px;
    margin-left: 10px;
}
